############
###UCARP config section
#############

# Configuration section for relianoid-ce-cluster service UCARP SERVICE
######
#binary for ucarp
$ucarp="/usr/sbin/ucarp";

#deadratio value, for cloud 10 secs is recommended, for physical 2 secs commended.
$dead_ratio="2";

#interface used for the cluster where is configured local_ip and remote_ip
$interface="eth0";

#local IP to be monitored, i e 192.168.0.101
$local_ip="192.168.101.242";

#remote IP to be monitored, i e 192.168.0.102
$remote_ip="192.168.101.243";

#used password for vrrp protocol communication
$password="secret";

#unique value for vrrp cluster in the network
$cluster_id="1";

#used virtual IP in the cluster, this ip will run always in the master node
$cluster_ip="192.168.101.244";

#script executed when node becomes MASTER
$up_script="/usr/local/relianoid/app/ucarp/sbin/relianoid-ce-cluster-start";

#script executed when node becomes BACKUP
$down_script="/usr/local/relianoid/app/ucarp/sbin/relianoid-ce-cluster-stop";

#script executed when node needs to send an advertisement
$adver_script="/usr/local/relianoid/app/ucarp/sbin/relianoid-ce-cluster-advertisement";

############
##noid-cluster-notify config section
############
#Configuration section for noid-cluster-notify service
####
#replication config dir
$configdir="/usr/local/relianoid/config";

#replication of rt_tables file
$rttables="/etc/iproute2/rt_tables";

#where to save logs
$zeninolog="/var/log/noid-cluster-notify.log";

#binary for rsync
$rsync="/usr/bin/rsync";

#params for rsync
$rsync_args="-auzv --delete";

#IMPORTANT!!!!! remote IP,ssh without password required use id_rsa.pub key
#used variable $remote_ip
########
##exclude files to be replicated, management interface should be included, ie eth0
###ie, file1 and file2 need to be excluded: "--exclude file1 --exclude file2"
########
$exclude="--exclude if_eth0_conf";
