[Unit]
Description=RELIANOID ADC Load Balancer

[Service]
Type=oneshot
ExecStart=sh -c '/usr/local/relianoid/bin/relianoid start'
ExecStop=sh -c '/usr/local/relianoid/bin/relianoid stop'
ExecReload=sh -c '/usr/local/relianoid/bin/relianoid start'
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
